/*
 * Tana WF-ish Dark Theme
 * Applies to app.tana.inc
 */

/* specific mods */

/* layout button */
div[data-panel-id="sidepanel"] button {
  color: rgb(158, 161, 162);
}
div[data-panel-id="sidepanel"] button:hover {
  color: rgb(217, 219, 219);
}
/* header fix */
header {
  /*border-top: none!important;*/
  /*box-shadow: none!important;*/
}
header > div,
header div[class^="TopBar-module_separator"] {
  border-left: none!important;
}
input[id="searchquery"],
div[class^="TopBar-module_searchBarContainer"] {
  border-radius: 1rem!important;
}

html.isDarkMode {
  /* base color mods */

  /* main text */
  --colorGray300: white;
  /* sidebar nav */
  --colorGray375: rgb(175, 179, 180);
  /* sidebar headers */
  --colorGray475: rgb(217, 219, 219);
  /* bullet mid */
  --colorGray500: rgb(158, 161, 162);
  /* card hover */
  --colorGray600:rgb(66, 73, 75);
  /* bullet ring */
  --colorGray675: rgb(53, 60, 63);
  /* check box */
  --colorGray700: rgb(53, 60, 63);
  /* chevron bg */
  --colorGray725: rgb(53, 60, 63);
  /* cards */
  --colorGray750: rgb(53, 60, 63);
  /* layout button */
  --colorGray775: rgb(66, 73, 75);
  /* sidebar nav hover */
  --colorGray800: rgb(66, 73, 75);
  /* main bg */
  --colorGray825: rgb(42, 49, 53);
  /* tag config bg */
  --colorGray850: rgb(42, 49, 53);
  /* sidebar */
  --colorGray875: rgb(53, 60, 63);
  /* search box bg */
  --colorGray925: rgb(42, 49, 53);

  /* specific color mods */
  --colorTopBarBackground: var(--colorGray875)!important;
  --colorReferenceSectionGradientStep: rgb(47, 53, 56)!important;

}